---
- name: create the common_env
  file: dest=/Users/{{ item }}/.common_env
        state=touch
        owner={{ item }}
        mode=0544
  with_items: affected_users

- name: source the common env from every known dotfile
  ignore_errors: True
  lineinfile: dest=/Users/{{ item[0] }}/{{ item[1] }}
              regexp='source ~/\.common_env'
              line='source ~/.common_env'
              owner={{ item[0] }}
              mode=0544
  with_nested:
  - "{{ affected_users }}"
  - [ '.bash_profile', '.bash_login', '.zshrc', '.zshenv', '.profile' ]
  register: dotfiles_done

# ensure .profile is present at minimum, or update if it exists, when the above fails
- name: create and source the common env from a new .profile
  ignore_errors: True
  lineinfile: dest=/Users/{{ item }}/.profile
              regexp='source ~/\.common_env'
              line='source ~/.common_env'
              owner={{ item }}
              mode=0544
              create=yes
  with_items: affected_users
  when: dotfiles_done|failed
